*{
    border:0;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: sans-serif;
}


#about p{
    padding-bottom: 10px;
}

#about {
    background-image: url("./image/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    background-position: 50% 50%;
    height: 450px;
}

a:hover{
    color: black;
}

button{
    background: #47B475;
    color: white;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
}

#range {
    padding-top: 90px;
    padding-left: 100px;
}
h2{
    color:#fff;
    font-size: 40px;
}



nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.demo  a{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b3b3b3;
}

#range{
    padding-top: 90px;
    padding-left: 200px
}

#thin{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.2rem;
}

.same{
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
}

.image  {
 opacity: 0.6; 
 margin-left: 150px;
 padding-bottom: 50px;
 align-items: center;
 padding-left: 20px;
 
}
.icon:hover{
 opacity: 1;
 cursor: pointer;   
}

.icon{
    width: calc(100% / 6);
    object-fit: scale-down;
    height: 40px;
    opacity:0.6;
    padding-left: 20px;
}

.t-90 img{
    height: 300px;
    width: 375px;
    padding-right: 0px;
}

nav img{
    size: 100px;
    width: 200px;
    padding-left: 10px;
}

#laptop h5{
    text-justify: inter-word;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    
}

#laptop h6{
    text-justify: inter-word;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    font-size: 15px;
    padding-top: 10px;
}

section{
    display: flex;
    background: #f8f8f8;
    justify-content: space-around;
}

section #laptop{
padding-top: 150px;
/* font-size: 35px; */
font-family: Arial, Helvetica, sans-serif;
}

#laptop button {
    padding-top: 0px;
    height: 80px;
    width: 160px;
}

section #btn {
    padding-top: 40px;
    padding-left: 100px;
}

/* .image {
    float: left;
} */

#pricing {
    background: #FFFFFF;
    height: 600px;
    padding: 96x 50px;
    
}

.price{
    display: flex;
    align-content: center;
    margin: 150px 200px;
    height: 400px;
}

.pricing-content {
    max-width: 50%;
}

.pricing-content h3 {
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.pricing-content p{

margin-bottom: 24px;
}

.pricing-amount {
    background: #47B475;
    line-height: 50px;
    color: #fff;
    padding: 48px 32px;
    margin-left: 24px;
    text-align: center;
}

.pricing-content-primary{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 40px;
}

.theamount {
    font-size: 80px;
}

.pricing-amount button{
    background: #47B475;
    color: white;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    border-color: #fff;
    outline: #FFFFFF;
}

.pricing-amount button:hover{
    background-color: #fff;
    color: black;
}
